[submodule "tutorials/mosquitto/mosquitto"]
	path = tutorials/mosquitto/mosquitto
	url = https://github.com/eclipse/mosquitto
[submodule "tutorials/mosquitto/fuzzquito"]
	path = tutorials/mosquitto/fuzzquitto
	url = https://github.com/andreia-oca/fuzzquitto.git
